<template>
  <section class="todo">
    <input
      class="todo__input"
      autofocus autocomplete="off"
      placeholder="Enter your new task here"
      ref="search"
      v-model="taskTitle"
      @keyup.enter="addTask"
      :disabled="isAddingTask">

    <ul class="todo__list" v-if="items.length">
      <li v-for="item in filter(showItemsType)" class="todo__list-item" :key="item.id"  >
        <div v-on:dblclick="edit(item)" style="cursor:pointer;">
          
          <input type="checkbox" :id="item.id" v-model="item.completed" style="display: none;" @change="update(item)">
          
          <label :for="item.id" class="check">
            <svg width="18px" height="18px" viewBox="0 0 18 18">
              <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
              <polyline points="1 9 7 14 15 4"></polyline>
            </svg>
          </label>

          <input type="text" class="todo__edit" v-show="item.show" v-model="tempTitle" 
            @keyup.esc="closeEdit(item)"
            @keyup.enter="update(item)"
          /> 

          <div style="display:inline;" v-show="!item.show">
            <span style="padding: 10px;">{{ item.title }}</span>  
            <span class="todo__delete-button" @click="remove(item.id)"><font-awesome-icon icon="times" /></span>
            <span :class="bookmarkClass[item.bookmarked]" @click="bookmark(item) "><font-awesome-icon icon="star" /></span>
          </div>

        </div>
      </li>
    </ul>

    <footer class="todo__footer">
      <span v-if="remainingTaskCount">{{ remainingTaskCount }} tasks to do</span>
      <span v-else>Nothing to do!</span>
      <LoadingSpinner v-if="isLoading"/>
        <div>
            <button @click="filter(fiterOptions.all)">All</button>
            <button @click="filter(fiterOptions.active)">Active</button>
            <button @click="filter(fiterOptions.completed)">Completed</button>
        </div>
    </footer>
    
  </section>
</template>

<script>
import axios from 'axios'
import LoadingSpinner from './LoadingSpinner.vue'

export default {
  components: {
    LoadingSpinner
  },

  data () {
    return {
      isAddingTask: false,
      isLoadingList: false,
      items: [],
      taskTitle: '',
      showItemsType: 'all',
      fiterOptions: {all: 'all', completed: true, active: false},
      bookmarkClass: {true: 'todo__bookmarked', false: 'todo__bookmark'},

      lastTaskId: 0,
      editMode: false,
      tempTitle: ''
    }
  },

  computed: {
    remainingTaskCount () {
      return this.items.filter((item) => !item.completed).length
    },
    isLoading () {
      return this.isAddingTask || this.isLoadingList
    }
  },

  methods: {
    addTask () {
      var that = this
      
      let task = {
        title: this.taskTitle
      }
      this.isAddingTask = true
      axios
        .post('http://localhost:8000/api/v1/tasks', task)
        .then(response => {
          that.items.push(response.data)
          that.taskTitle = ''
          that.isAddingTask = false
          that.$nextTick().then(() => {
            that.$refs.search.focus()
          })
        })
    },

    update(task){
      console.log(this.tempTitle)
      let request = {'title': '', 'completed': task.completed, 'bookmarked': task.bookmarked}
      request.title = this.tempTitle.length > 0 ? this.tempTitle : task.title
      axios
        .put('http://localhost:8000/api/v1/tasks/'+task.id, request)
        .then((response) => {
           console.log(response.data) 
           task.title = request.title
           this.closeEdit(task)
        }).catch(err => {
            console.log(err)
      })
    },

    remove(taskId){
        let tasks = this.items
        this.items = tasks.filter(item => item.id != taskId)
    },

    bookmark(task){
        if(!task.bookmarked){
          this.remove(task.id)
          this.items.unshift(task)
        } 
        task.bookmarked = !task.bookmarked
        this.update(task)
        
        localStorage.setItem('items', JSON.stringify(this.items))
    },
    filter(action){
        this.showItemsType = action

        if(action == this.fiterOptions.all){
          return this.items
        }else{
          return this.items.filter(item => item.completed == action)
        }
    },

    edit(task){
      if(this.editMode){
					let lastTask = this.items.find(t => t.id === this.lastTaskId)
					this.closeEdit(lastTask)
					this.edit(task)
				}else{
					task.show = !task.show
					this.tempTitle = task.title
					this.editMode = true
					this.lastTaskId = task.id
        }
    },

    closeEdit(task){
      task.show = false
      this.tempTitle = ''
      this.editMode = false
    }

  },

  created () {
    var that = this
    this.isLoadingList = true
    axios
      .get('http://localhost:8000/api/v1/tasks')
      .then(response => {
        if(localStorage.getItem('items')){
            that.items = JSON.parse(localStorage.getItem('items'))
            localStorage.removeItem('items')
        }else{
            that.items = response.data.result  
        }
        
        that.isLoadingList = false
      })
  }
}
</script>

<style lang="scss">
.todo {
  background-color: #fff;
  border-radius: .125rem;
  border: 1px solid rgba(0,0,0,.12);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  margin: auto;
  max-width: 700px;

  &__edit {
    background-color: #fff;
    border: 0.5;
    border-color: #4285F4;
    
    outline: 0;
    width: 95%;
    margin: 5px;
  } 


  &__input {
    background-color: #fff;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    padding: 20px;
    width: 100%;

    &:disabled {
      background-color: #F7F6F9;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__list-item {
    list-style: none;
    padding: 20px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  &__delete-button{
    text-align: right;
    padding-inline-end: 10px;
    color: red;
    float: right;
  }

    &__bookmark{
    text-align: right;
    color: #D3D3D3;
    padding-inline-end: 10px;
    float: right;
  }

  &__bookmarked{
    text-align: right;
    color: #ffb90f;
    padding-inline-end: 10px;
    float: right;
  }
}

.check{
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0,0,0);
 
  &:before{
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(#223254,.03);
    opacity: 0;
    transition: opacity .2s ease;
  }  

  svg{
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #C8CCD4;
    stroke-width: 1.5;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
  }  
   
  path{
      stroke-dasharray: 60;
      stroke-dashoffset: 0;
  }  
  polyline{ 
      stroke-dasharray: 22;
      stroke-dashoffset: 66;
  }  
  &:hover{ 
    &:before{
      opacity: 1
    }
  }    
    svg{
      stroke: #4285F4;
    }
}      
   
input:checked + .check{
  svg{
    stroke: #4285F4;
  }  
    path{
      stroke-dashoffset: 60;
      transition: all .3s linear;
    }  
    polyline{
      stroke-dashoffset: 42;
      transition: all .2s linear;
      transition-delay: .15s;
    }
}

            



</style>